# Exploratory Data Analysis

#### Importing libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Finishing with cleaning and preparing for Exploratory Data Analysis

reading the *academy_international_movies_final.csv* file

In [2]:
academy = pd.read_csv("academy_international_movies_final.csv")

In [4]:
academy.tail()

,Unnamed: 0,title,Directed by,Written by,Produced by,Starring,Cinematography,Edited by,Music by,Distributed by,...,Romanized,Russian,Hungarian,Polish,German,Hangul,Revised Romanization,McCune–Reischauer,Chinese,Romanian
326,326,Pain and Glory,['Pedro Almodóvar'],Pedro Almodóvar,"['Agustín Almodóvar', 'Esther García', 'Ricard...","['Antonio Banderas', 'Asier Etxeandia', 'Leona...",José Luis Alcaine,Teresa Font,Alberto Iglesias,Sony Pictures Releasing International,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,327,Another Round,Thomas Vinterberg,"['Thomas Vinterberg', 'Tobias Lindholm']","['Sisse Graum Jørgensen', 'Kasper Dissing']","['Mads Mikkelsen', 'Thomas Bo Larsen', 'Magnus...",Sturla Brandth Grøvlen,"['Anne Østerud', 'Janus Billeskov Jansen']",Janus Billeskov Jansen,"['Nordisk Film (Scandinavia)', 'September Film...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328,328,Better Days,Derek Tsang,"['Lam Wing Sum', 'Li Yuan', 'Xu Yimeng']",Xu Yuezhen,"['Zhou Dongyu', 'Jackson Yee']",Yu Jing-Pin,Zhang Yibo,Varqa Buehrer,"['Lian Rui Pictures', 'Shanghai Taopiaopiao Fi...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,329,Collective,Alexander Nanau,"['Alexander Nanau', 'Antoaneta Opriș']","['Alexander Nanau', 'Bernard Michaux', 'Hanka ...",NaN,Alexander Nanau,"['Alexander Nanau', 'George Cragg', 'Dana Bune...",Kyan Bayani,"['Bad Unicorn', 'HBO Europe', 'Magnolia Pictur...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Colectiv
330,330,The Man Who Sold His Skin,Kaouther Ben Hania,Kaouther Ben Hania,"['Habib Attia', 'Nadim Cheikhrouha', 'Martin H...","['Yahya Mahayni', 'Dea Liane', 'Koen De Bouw',...",Christopher Aoun,Marie-Hélène Dozo,Amine Bouhafa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
academy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 59 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               331 non-null    int64
 1   title                    330 non-null    object
 2   Directed by              331 non-null    object
 3   Written by               255 non-null    object
 4   Produced by              289 non-null    object
 5   Starring                 319 non-null    object
 6   Cinematography           304 non-null    object
 7   Edited by                280 non-null    object
 8   Music by                 277 non-null    object
 9   Distributed by           249 non-null    object
 10  Release date             327 non-null    object
 11  Running time             329 non-null    object
 12  Country                  213 non-null    object
 13  Language                 234 non-null    object
 14  Running time (int)       329 non-null    object
 15  Release date (datetime)  288 non-null    object
 16  imdb                     181 non-null    float64
 17  metascore                56 non-null     float64
 18  rotten_tomatoes          90 non-null     object
 19  plot                     191 non-null    object
 20  genre                    217 non-null    object
 21  awards                   142 non-null    object
 22  Screenplay by            73 non-null     object
 23  Story by                 22 non-null     object
 24  Based on                 71 non-null     object
 25  Production company       65 non-null     object
 26  Budget                   109 non-null    object
 27  Box office               166 non-null    object
 28  Production companies     102 non-null    object
 29  Countries                117 non-null    object
 30  Languages                96 non-null     object
 31  Narrated by              6 non-null      object
 32  Portuguese               1 non-null      object
 33  Japanese                 0 non-null      float64
 34  Hepburn                  2 non-null      object
 35  French                   5 non-null      object
 36  Color process            1 non-null      object
 37  Literally                7 non-null      object
 38  Dutch                    1 non-null      object
 39  Spanish                  7 non-null      object
 40  Traditional              0 non-null      float64
 41  Simplified               0 non-null      float64
 42  Mandarin                 7 non-null      object
 43  Dialogue by              1 non-null      object
 44  Cantonese                0 non-null      float64
 45  Italian                  1 non-null      object
 46  Danish                   4 non-null      object
 47  Original title           1 non-null      object
 48  Arabic                   1 non-null      object
 49  Romanized                2 non-null      object
 50  Russian                  1 non-null      object
 51  Hungarian                1 non-null      object
 52  Polish                   2 non-null      object
 53  German                   1 non-null      object
 54  Hangul                   0 non-null      float64
 55  Revised Romanization     1 non-null      object
 56  McCune–Reischauer        1 non-null      object
 57  Chinese                  0 non-null      float64
 58  Romanian                 1 non-null      object
dtypes: float64(8), int64(1), object(50)
memory usage: 152.7+ KB

I will drop all the columns between 31-58

In [12]:
academy.columns

Index(['Unnamed: 0', 'title', 'Directed by', 'Written by', 'Produced by',
       'Starring', 'Cinematography', 'Edited by', 'Music by', 'Distributed by',
       'Release date', 'Running time', 'Country', 'Language',
       'Running time (int)', 'Release date (datetime)', 'imdb', 'metascore',
       'rotten_tomatoes', 'plot', 'genre', 'awards', 'Screenplay by',
       'Story by', 'Based on', 'Production company', 'Budget', 'Box office',
       'Production companies', 'Countries', 'Languages', 'Narrated by',
       'Portuguese', 'Japanese', 'Hepburn', 'French', 'Color process',
       'Literally', 'Dutch', 'Spanish', 'Traditional', 'Simplified',
       'Mandarin', 'Dialogue by', 'Cantonese', 'Italian', 'Danish',
       'Original title', 'Arabic', 'Romanized', 'Russian', 'Hungarian',
       'Polish', 'German', 'Hangul', 'Revised Romanization',
       'McCune–Reischauer', 'Chinese', 'Romanian'],
      dtype='object')

In [16]:
academy=academy.drop(['Unnamed: 0','Narrated by',
       'Portuguese', 'Japanese', 'Hepburn', 'French', 'Color process',
       'Literally', 'Dutch', 'Spanish', 'Traditional', 'Simplified',
       'Mandarin', 'Dialogue by', 'Cantonese', 'Italian', 'Danish',
       'Original title', 'Arabic', 'Romanized', 'Russian', 'Hungarian',
       'Polish', 'German', 'Hangul', 'Revised Romanization',
       'McCune–Reischauer', 'Chinese', 'Romanian'], axis=1)

In [18]:
academy.columns

Index(['title', 'Directed by', 'Written by', 'Produced by', 'Starring',
       'Cinematography', 'Edited by', 'Music by', 'Distributed by',
       'Release date', 'Running time', 'Country', 'Language',
       'Running time (int)', 'Release date (datetime)', 'imdb', 'metascore',
       'rotten_tomatoes', 'plot', 'genre', 'awards', 'Screenplay by',
       'Story by', 'Based on', 'Production company', 'Budget', 'Box office',
       'Production companies', 'Countries', 'Languages'],
      dtype='object')

In [19]:
academy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331 entries, 0 to 330
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    330 non-null    object
 1   Directed by              331 non-null    object
 2   Written by               255 non-null    object
 3   Produced by              289 non-null    object
 4   Starring                 319 non-null    object
 5   Cinematography           304 non-null    object
 6   Edited by                280 non-null    object
 7   Music by                 277 non-null    object
 8   Distributed by           249 non-null    object
 9   Release date             327 non-null    object
 10  Running time             329 non-null    object
 11  Country                  213 non-null    object
 12  Language                 234 non-null    object
 13  Running time (int)       329 non-null    object
 14  Release date (datetime)  288 non-null    object
 15  imdb                     181 non-null    float64
 16  metascore                56 non-null     float64
 17  rotten_tomatoes          90 non-null     object
 18  plot                     191 non-null    object
 19  genre                    217 non-null    object
 20  awards                   142 non-null    object
 21  Screenplay by            73 non-null     object
 22  Story by                 22 non-null     object
 23  Based on                 71 non-null     object
 24  Production company       65 non-null     object
 25  Budget                   109 non-null    object
 26  Box office               166 non-null    object
 27  Production companies     102 non-null    object
 28  Countries                117 non-null    object
 29  Languages                96 non-null     object
dtypes: float64(2), object(28)
memory usage: 77.7+ KB

In [25]:
academy['month'] = pd.DatetimeIndex(academy['Release date (datetime)']).month

#### Normalizing imdb, metascore, rotten_tomatoes columns to have RATINGS 0-10(imdb stays the same)

In [31]:
academy[['imdb', 'metascore', 'rotten_tomatoes',]].tail(10)

     imdb  metascore rotten_tomatoes
321   NaN        NaN             NaN
322   4.0        NaN             17%
323   8.6        NaN             NaN
324   8.0       86.0            100%
325   7.6       63.0             70%
326   NaN        NaN             NaN
327   4.4        NaN             NaN
328   6.8        NaN             97%
329   4.1        NaN             NaN
330   7.0       67.0             91%

In [37]:
academy['rotten_tomatoes'] = academy['rotten_tomatoes'].astype(str).apply(lambda rotten_tomatoes:rotten_tomatoes.split('%')[0])

In [39]:
academy[['imdb', 'metascore', 'rotten_tomatoes',]] = academy[['imdb', 'metascore', 'rotten_tomatoes',]].astype('float')

In [40]:
# Dont run this cell multiple times, otherwise you keep dividing!
academy['rotten_tomatoes_norm'] = np.round(academy['rotten_tomatoes']/10,1)
academy['metascore_norm'] = np.round(academy['metascore']/10,1)

In [41]:
academy[['imdb', 'metascore', 'rotten_tomatoes','rotten_tomatoes_norm','metascore_norm']].tail(10)

     imdb  metascore  rotten_tomatoes  rotten_tomatoes_norm  metascore_norm
321   NaN        NaN              NaN                   NaN             NaN
322   4.0        NaN             17.0                   1.7             NaN
323   8.6        NaN              NaN                   NaN             NaN
324   8.0       86.0            100.0                  10.0             8.6
325   7.6       63.0             70.0                   7.0             6.3
326   NaN        NaN              NaN                   NaN             NaN
327   4.4        NaN              NaN                   NaN             NaN
328   6.8        NaN             97.0                   9.7             NaN
329   4.1        NaN              NaN                   NaN             NaN
330   7.0       67.0             91.0                   9.1             6.7

#Changin the name of the movie because it was NaN

In [49]:
#Changin the name of the movie because it was NaN
academy.at[43,'title']='8'

In [50]:
academy.iloc[43]

title                                                                      8
Directed by                                                 Federico Fellini
Written by                                                               NaN
Produced by                                                   Angelo Rizzoli
Starring                   ['Marcello Mastroianni', 'Claudia Cardinale', ...
Cinematography                                             Gianni Di Venanzo
Edited by                                                        Leo Catozzo
Music by                                                           Nino Rota
Distributed by             ['Cineriz (Italy)', 'Columbia Pictures (France)']
Release date                                            ['14 February 1963']
Running time                                                     138 minutes
Country                                                                  NaN
Language                                                             Italian
Running time (int)                                                       138
Release date (datetime)                                           1963-02-14
imdb                                                                     NaN
metascore                                                                NaN
rotten_tomatoes                                                          NaN
plot                                                                     NaN
genre                                                                    NaN
awards                                                                   NaN
Screenplay by              ['Federico Fellini', 'Tullio Pinelli', 'Ennio ...
Story by                               ['Federico Fellini', 'Ennio Flaiano']
Based on                                                                 NaN
Production company                                                       NaN
Budget                                                                   NaN
Box office                                            $3.5 million (rentals)
Production companies                                ['Cineriz', 'Francinex']
Countries                                                ['Italy', 'France']
Languages                                                                NaN
month                                                                    2.0
rotten_tomatoes_norm                                                     NaN
metascore_norm                                                           NaN
Name: 43, dtype: object

#### *ADDING A COLUMN WITH WINNERS* (1 is a movies who won and 0 is the movies that didn't won)

In [115]:
#List of winners 
l=["Shoeshine","Monsieur Vincent","Bicycle Thieves","The Walls of Malapaga","Rashomon", "Forbidden Games", "Jigokumon" ,"Miyamoto Musashi",
"La strada","Nights of Cabiria (Le notti di Cabiria)", "Mon Oncle", "Black Orpheus",
"The Virgin Spring", "Through a Glass Darkly", "Sundays and Cybele","8" ,"Yesterday, Today and Tomorrow",
"The Shop on Main Street","A Man and a Woman","Closely Watched Trains","War and Peace",
 "Z","Investigation of a Citizen Above Suspicion","The Garden of the Finzi-Continis",
"The Discreet Charm of the Bourgeoisie","Day for Night","Amarcord","Dodes'ka-den",
"Black and White in Color","Madame Rosa","Get Out Your Handkerchiefs","The Tin Drum",
"Moscow Does Not Believe In Tears","Mephisto", "Volver a Empezar",
"Fanny and Alexander","Dangerous Moves", "The Official Story",
"The Assault","Babette's Feast","Pelle the Conqueror","Cinema Paradiso",
"Journey of Hope", "Mediterraneo", "Indochine","Belle Époque", "Burnt by the Sun", "Antonia's Line",
"Kolya", "Character", "Life Is Beautiful","All About My Mother", 
"Crouching Tiger, Hidden Dragon","No Man's Land", "Nowhere in Africa", "The Barbarian Invasions", "The Sea Inside",
"Tsotsi", "The Lives of Others","The Counterfeiters", "Departures",
"The Secret in Their Eyes", "In a Better World", "A Separation", "Amour", "The Great Beauty",
"Ida", "Son of Saul", "The Salesman", "A Fantastic Woman", "Roma", "Parasite", "Another Round"
]

In [105]:
#academy = academy.set_index('title')
#academy = academy.reset_index()

In [78]:
#academy=academy.drop(["won"], axis=1)

In [116]:
academy['won'] = np.where(academy['title'].isin(l), 1, 0)

In [117]:
#Another Round won oscar
academy.tail(5)

,title,Directed by,Written by,Produced by,Starring,Cinematography,Edited by,Music by,Distributed by,Release date,...,Production company,Budget,Box office,Production companies,Countries,Languages,month,rotten_tomatoes_norm,metascore_norm,won
326,Pain and Glory,['Pedro Almodóvar'],Pedro Almodóvar,"['Agustín Almodóvar', 'Esther García', 'Ricard...","['Antonio Banderas', 'Asier Etxeandia', 'Leona...",José Luis Alcaine,Teresa Font,Alberto Iglesias,Sony Pictures Releasing International,"['13 March 2019 ( Madrid )', '22 March 2019 (S...",...,El Deseo,$10.8 million,$38.1 million,NaN,NaN,NaN,3.0,NaN,NaN,0
327,Another Round,Thomas Vinterberg,"['Thomas Vinterberg', 'Tobias Lindholm']","['Sisse Graum Jørgensen', 'Kasper Dissing']","['Mads Mikkelsen', 'Thomas Bo Larsen', 'Magnus...",Sturla Brandth Grøvlen,"['Anne Østerud', 'Janus Billeskov Jansen']",Janus Billeskov Jansen,"['Nordisk Film (Scandinavia)', 'September Film...","['12 September 2020 ( TIFF )', '24 September ...",...,NaN,"['kr', '33.5\xa0million', '(', 'US$', '5.7\xa0...",$21.7 million,"['Zentropa', 'Film i Väst', 'Topkapi Films', '...","['Denmark', 'Netherlands', 'Sweden']",NaN,9.0,NaN,NaN,1
328,Better Days,Derek Tsang,"['Lam Wing Sum', 'Li Yuan', 'Xu Yimeng']",Xu Yuezhen,"['Zhou Dongyu', 'Jackson Yee']",Yu Jing-Pin,Zhang Yibo,Varqa Buehrer,"['Lian Rui Pictures', 'Shanghai Taopiaopiao Fi...",['25 October 2019'],...,NaN,NaN,US$230.1 million,"['Henan Film Group', 'China Wit Media', 'Tiani...",['China'],NaN,10.0,9.7,NaN,0
329,Collective,Alexander Nanau,"['Alexander Nanau', 'Antoaneta Opriș']","['Alexander Nanau', 'Bernard Michaux', 'Hanka ...",NaN,Alexander Nanau,"['Alexander Nanau', 'George Cragg', 'Dana Bune...",Kyan Bayani,"['Bad Unicorn', 'HBO Europe', 'Magnolia Pictur...","['September 4, 2019 ( Venice )', 'February 28,...",...,NaN,NaN,"$147,875","['Alexander Nanau Production', 'Samsa Film Lux...","['Romania', 'Luxembourg']",NaN,9.0,NaN,NaN,0
330,The Man Who Sold His Skin,Kaouther Ben Hania,Kaouther Ben Hania,"['Habib Attia', 'Nadim Cheikhrouha', 'Martin H...","['Yahya Mahayni', 'Dea Liane', 'Koen De Bouw',...",Christopher Aoun,Marie-Hélène Dozo,Amine Bouhafa,NaN,['4 September 2020 ( Venice )'],...,NaN,NaN,NaN,"['Cinétéléfilms', 'Tanit Films', 'Twenty Twent...","['Tunisia', 'France', 'Germany', 'Belgium', 'S...","['Arabic', 'English', 'French']",9.0,9.1,6.7,0

In [118]:
#Checking if the number of movies that won is correct
academy['won'].value_counts()

0    258
1     73
Name: won, dtype: int64

In [121]:
academy = academy.set_index('title')

In [127]:
academy[['rotten_tomatoes_norm','metascore_norm','imdb']].notnull().value_counts()

rotten_tomatoes_norm  metascore_norm  imdb
False                 False           False    149
                                      True      91
True                  True            True      55
                      False           True      34
False                 True            True       1
True                  False           False      1
dtype: int64

In [145]:
academy['imdb'].notnull().value_counts()

True     181
False    150
Name: imdb, dtype: int64

In [146]:
academy['rotten_tomatoes_norm'].notnull().value_counts()

False    241
True      90
Name: rotten_tomatoes_norm, dtype: int64

#### Creating a dataframe 'winners' for the academy awards winners

In [139]:
winners= academy.loc[academy["won"]==1]

In [162]:
winners.tail(3)

,Directed by,Written by,Produced by,Starring,Cinematography,Edited by,Music by,Distributed by,Release date,Running time,...,Production company,Budget,Box office,Production companies,Countries,Languages,month,rotten_tomatoes_norm,metascore_norm,won
title,,,,,,,,,,,,,,,,,,,,,
Roma,Alfonso Cuarón,Alfonso Cuarón,"['Gabriela Rodríguez', 'Alfonso Cuarón', 'Nico...","['Yalitza Aparicio', 'Marina de Tavira']",Alfonso Cuarón,"['Alfonso Cuarón', 'Adam Gough']",NaN,"['Espectáculos Fílmicos El Coyúl (Mexico)', 'N...","['30 August 2018 ( Venice )', '21 November 201...",135 minutes,...,NaN,$15 million,$5.1 million,"['Espectáculos Fílmicos El Coyúl', 'Pimienta F...","['Mexico', 'United States']","['Spanish', 'Mixtec']",8.0,9.6,9.6,1
Parasite,Bong Joon-ho,NaN,"['Kwak Sin-ae', 'Moon Yang-kwon', 'Bong Joon-h...","['Song Kang-ho', 'Lee Sun-kyun', 'Cho Yeo-jeon...",Hong Kyung-pyo,Yang Jin-mo,Jung Jae-il,CJ Entertainment,NaN,132 minutes,...,Barunson E&A,['₩17.0 billion'],$259 million,NaN,NaN,NaN,NaN,1.7,NaN,1
Another Round,Thomas Vinterberg,"['Thomas Vinterberg', 'Tobias Lindholm']","['Sisse Graum Jørgensen', 'Kasper Dissing']","['Mads Mikkelsen', 'Thomas Bo Larsen', 'Magnus...",Sturla Brandth Grøvlen,"['Anne Østerud', 'Janus Billeskov Jansen']",Janus Billeskov Jansen,"['Nordisk Film (Scandinavia)', 'September Film...","['12 September 2020 ( TIFF )', '24 September ...",117 minutes,...,NaN,"['kr', '33.5\xa0million', '(', 'US$', '5.7\xa0...",$21.7 million,"['Zentropa', 'Film i Väst', 'Topkapi Films', '...","['Denmark', 'Netherlands', 'Sweden']",NaN,9.0,NaN,NaN,1

#### Top 10 winners, top 10 winners and nominees acording to IMDB

In [143]:
 winners.sort_values(by=['imdb'], ascending=False)['imdb'].head(10)

title
A Separation       9.6
Departures         9.0
Cinema Paradiso    8.5
Z                  8.3
La strada          8.0
Amour              7.9
No Man's Land      7.9
Amarcord           7.9
Mephisto           7.8
Mon Oncle          7.8
Name: imdb, dtype: float64

In [164]:
academy.nsmallest(10,'imdb')['imdb']

title
Electra            3.6
Parasite           4.0
Collective         4.1
Forbidden Games    4.4
Vengeance          4.4
Another Round      4.4
Merry Christmas    4.5
Three              4.9
Stolen Kisses      5.1
Twin Sisters       5.3
Name: imdb, dtype: float64

In [144]:
academy.sort_values(by=['imdb'], ascending=False)['imdb'].head(10)

title
A Separation                            9.6
Departures                              9.0
Cold War                                8.6
Corpus Christi                          8.6
Operation Thunderbolt                   8.6
Cinema Paradiso                         8.5
Macario                                 8.4
Z                                       8.3
Incendies                               8.3
Dersu Uzala (Дерсу Узала) (デルス·ウザーラ)    8.3
Name: imdb, dtype: float64

#### Combining IMDB and Rotten tomatoes top 10 score

In [159]:
#Adding new column which is sum of imdb and rotten scores 
pd.options.mode.chained_assignment = None 
ac_im_rot=academy[(academy['imdb'].notnull()) & (academy['rotten_tomatoes_norm'].notnull())]
ac_im_rot[]=ac_im_rot['imdb']+ac_im_rot['rotten_tomatoes_norm']

len(ac_im_rot)

89

In [161]:
ac_im_rot.sort_values(by=['sum_imdb_rot'], ascending=False)['sum_imdb_rot'].head(10)

title
Macario                  18.4
Honeyland                18.0
Die Brücke               18.0
Plácido                  17.9
La strada                17.8
Z                        17.7
Ju Dou                   17.7
Lacombe Lucien           17.7
Au revoir les enfants    17.7
Lagaan                   17.6
Name: sum_imdb_rot, dtype: float64

In [167]:
academy.sort_values(by=['Running time (int)'], ascending=False)['Running time (int)'].head(10)

title
Fanny and Alexander               TV
War and Peace                   Part
The Walls of Malapaga        France:
Paw                          Denmark
The Barbarian Invasions           99
The Music Teacher                 99
Hero                              99
Prisoner of the Mountains         98
The Counterfeiters                98
My Sweet Little Village           98
Name: Running time (int), dtype: object

In [170]:
academy['Running time (int)'].head(25)

title
Shoeshine                                                    93
Monsieur Vincent                                            111
Bicycle Thieves                                              89
The Walls of Malapaga                                   France:
Rashomon                                                     88
Forbidden Games                                              86
Jigokumon                                                    86
Miyamoto Musashi                                             93
La strada                                                   108
The Captain from Köpenick Der Hauptmann von Köpenick         93
Gervaise                                                    120
The Burmese Harp                                            143
Qivitoq - Fjeldgængeren                                     118
Nights of Cabiria (Le notti di Cabiria)                     118
The Devil Strikes at Night                                   97
Porte des Lilas Gates of Paris                               95
Mother India                                                172
Ni Liv                                                       96
Mon Oncle                                                   120
Arms and the Man                                            100
Vengeance                                                   122
The Road a Year Long                                        162
Big Deal on Madonna Street (I soliti ignoti)                111
Black Orpheus                                               107
Die Brücke                                                  105
Name: Running time (int), dtype: object